  <div class="contents row" >
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @products.each do |product| %>
      <%= render partial: "products/product", locals: { product: product } %>
    <% end %>
    <%= paginate(@products) %>
  </div>
