
<tr>
  <td><%= image_tag product.image,:size =>'320x480' %></td>
</tr>
<span class="name">
  <p>
    <span>作成者：</span><%= product.user.nickname %>
  </p>
  <p>
    <span>部屋の名前：</span><%= product.roomname %>
  </p>
</span>
<ul class="more_list">
  <li>
    <%= link_to '詳細', "/products/#{product.id}", method: :get %>
  </li>
</ul>
